@using OnlineStore.Entities
@model List<CartItem>

<h2>Корзина</h2>

@if (!Model.Any())
{
    <p>Корзина пуста.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Title</td>
                <td>@item.Quantity</td>
                <td>@(item.Product.Price * item.Quantity) ₽</td>
                <td>
                    <a asp-action="Remove" asp-route-productId="@item.Product.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
